<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.mvc.model.dao.BoardLikeDao">

    <!-- 좋아요 등록 -->
    <insert id="insert">
        INSERT INTO board_like (board_id, user_id)
        VALUES (#{boardId}, #{userId})
    </insert>

    <!-- 좋아요 취소 -->
    <delete id="delete">
        DELETE FROM board_like
        WHERE board_id = #{boardId} AND user_id = #{userId}
    </delete>

    <!-- 좋아요 여부 확인 -->
    <select id="isLiked" resultType="int">
        SELECT COUNT(*) FROM board_like
        WHERE board_id = #{boardId} AND user_id = #{userId}
    </select>

</mapper>
