<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.mvc.model.dao.GymDao">

	<!-- 헬스장 이름 키워드로 검색 -->
	<select id="searchGyms" resultType="com.ssafy.mvc.model.dto.Gym">
		SELECT gym_id, gym_name, gym_address
		FROM gym
		WHERE gym_name LIKE CONCAT('%', #{keyword}, '%')
	</select>

	<!-- 헬스장 ID 존재 여부 확인 -->
	<select id="existsGym" resultType="boolean">
		SELECT EXISTS (
		SELECT 1 FROM gym WHERE gym_id = #{gymId}
		)
	</select>

	<select id="selectAll" resultType="com.ssafy.mvc.model.dto.Gym">
		SELECT * FROM gym
	</select>


	<select id="selectById" resultType="Gym">
		SELECT * FROM gym WHERE gym_id = #{gymId}
	</select>
	
	  <select id="findByName" parameterType="string" resultType="com.ssafy.mvc.model.dto.Gym">
    SELECT * FROM gym
    WHERE gym_name = #{name}
  </select>
</mapper>
